*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "roboto", sans-serif "spectral", sans-serif;
}

body {
  font-family: "roboto", sans-serif;
}
/* NAV ELEMENTS */
header {
  position: sticky;
  top: 0;
  z-index: 5;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffc017;
  padding-block: 1.5rem;
  border-bottom: 1px solid black;
}
nav div a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
nav img {
  cursor: pointer;
}
.div-container {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-left: 17rem;
}

.div-container button {
  border: none;
  padding: 0.7rem;
  border-radius: 20px;
  color: white;
  background-color: rgb(32, 32, 32);
  cursor: pointer;
}

.div-container button:hover {
  color: white;
  background-color: black;
  transition: 0.5s;
}

/* HERO SECTION ELEMENTS */
.hero-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffc017;
  border-bottom: 1px solid black;
  padding-block: 5rem;
}
.svg-m {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
}
.text-container {
  margin-right: 10rem;
  text-align: left;
}
.text-container h1 {
  font-family: "spectral", sans-serif;
  font-weight: 600;
  font-size: 5.5rem;
  margin-bottom: 2rem;
}
.text-container p {
  width: 60%;
  font-family: "roboto", sans-serif;
  font-weight: medium;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.text-container button {
  font-family: "roboto", sans-serif;
  border: none;
  padding-block: 0.8rem;
  padding-inline: 3rem;
  border-radius: 20px;
  color: white;
  background-color: rgb(32, 32, 32);
  cursor: pointer;
}
.text-container button:hover {
  background-color: black;
  transition: 0.5s;
}
/* TRENDIN ARTICLE ELEMENTS */
.trending {
  margin-top: 2rem;
  font-family: "roboto", sans-serif;
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  padding-inline: 3rem;
}
.trending-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.trending .top-title {
  align-items: center;
  display: flex;
  gap: 15px;
  font-weight: 800;
  margin-bottom: 1rem;
}

.top-card {
  max-width: 350px;
  max-height: 200px;
  padding: 1rem;
  display: flex;
  gap: 15px;
}

.top-card .numb {
  font-family: "roboto", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: -3px;
  opacity: 0.3;
}

.top-card img {
  border-radius: 50%;
  width: 12%;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.top-text {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.1rem;
  font-weight: 600;
}

.middle-text {
  font-size: 1.1rem;
  font-weight: 800;
}

.bottom-text {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.5;
  font-size: 1rem;
}
.bottom-text img {
  width: 10%;
}

@media screen and (max-width: 900px) {
  .svg-m {
    display: none;
  }
  .text-container {
    margin-inline: auto;
    margin-right: unset;
  }
  .div-container {
    margin-left: 2rem;
  }
}
/* SECTION BOTTOM  */
.bottom {
  margin-inline: 2rem;
  margin-top: 2rem;
  display: flex;
}
/* SECTION BOT-LEFT ELEMENTS  */
.bot-left {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.bot-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}
.bot-card .img-right {
  width: 200px;
}
.bot-text {
  font-family: "roboto", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.up-bot-text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.up-bot-text img {
  border-radius: 50%;
}

.mid-bot-text :nth-child(1) {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 0.8rem;
}
.mid-bot-text :nth-child(2) {
  font-size: 1.3rem;
  font-weight: 400;
  opacity: 0.6;
  margin-bottom: 0.8rem;
}

.down-bot-text {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.date-topic {
  display: flex;
  align-items: center;
  gap: 15px;
}
.down-bot-text span {
  opacity: 0.5;
}
.down-bot-text button {
  border: none;
  border-radius: 15px;
  padding: 0.3rem 1rem;
  background-color: #f2f2f2;
}

/* ASIDE ELEMENTS */
.sticky-section {
  width: 40%;
}
aside {
  position: sticky;
  top: 100px;
  z-index: 4;
  padding-inline: 4rem;
}
aside h2 {
  margin-top: 1rem;
  font-weight: 600;
  text-align: center;
}
.aside-btn {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.aside-btn button {
  border: none;
  border-color: #252525;
  background-color: #f1f1f1;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.line {
  height: 1px;
  background-color: #cfcece;
  margin-block: 1.5rem;
}
/* FOOTER ELEMETS  */
footer ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 45px;
  row-gap: 10px;
  list-style-type: none;
}

footer ul li {
  cursor: pointer;
}
footer ul li a {
  text-decoration: none;
  color: black;
  opacity: 0.6;
}
